.box1 {
    width: 100px;
    height: 100px;
    color: #000000;
    background-color: #F7ADAE;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    top: auto;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: 0px;
    line-height: 100px;
}
.box1:hover{
    background-color: #804748;
    font-size: x-large;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: #97A6DD;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 100px;
	
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: #E8E0A0;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 100px;
}
.box1:hover {
	transform: translateX(15px)translateY(15px)
}
.box3:hover {
    background-color: #D2B841;
    font-size: x-large;
	width: 200px;
	height: 200px
	
}
.box2:hover {
    background-color: #5453B5;
    font-size: x-large;
    -webkit-transform: rotate;
    -o-transform: rotate;
    transform:rotate(45deg)
}
